/*-------HEADER-------*/

.header-logo {
    width: 20%;
    margin: 1rem 1rem .5rem .5rem;
  }
  .headings {
    margin: auto 1rem;;
    font-size: 125%;
  }
 
  /*--------NAV-------*/
  
nav button {
  margin: .5rem;
  background-color: transparent;
  border:none;
  font-size: 3rem;
}
nav {
  background: rgba(46, 196, 182, 0.8);
  max-width: 100%;
  margin: 0rem auto 0rem auto; 
  border-radius: 0px 0px 5px 5px;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  height: 4rem;
  /* -webkit-transform: translateZ(0); */
}

nav:hover {background: rgba(46, 196, 182, 0.8);}
nav ul {
    list-style-type: none;
    padding:0;
    margin:0;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top:1px solid rgba(0, 0, 0, 0.3);
}

nav ul.hide {display: none;}

nav ul li.active a {
    color: #f1f09de7;
}
nav ul li a:hover {background-color: rgba(0,0,0,0.4);}


.phone {
  display:none;
}
  /*--------MAIN-------*/
  
  .map {
      max-width: 40rem;
      max-height: 30rem;
      margin: 2rem 0rem 4rem 3rem;
  }
 
  
  /*-------HERO SLIDESHOW------*/
  

  
  /*-------FOOTER-------*/

  footer img {
    max-width: 25px;
  }