/*-------HEADER-------*/

.header-logo {
  width: 150px;
}
.headings {
  margin: 2rem 0rem;
}
  /*--------NAV-------*/
  
nav button {display:none;}

nav ul li a:hover {
    color: rgb(255, 120, 90);
}
nav ul.hide {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
nav ul {
    margin: auto;
    list-style: none;
}
nav ul li a {
    border: none;
    background: rgba(46, 196, 182, 0.8);
} 
nav ul li {
    padding:0%;
    margin: 0%;
    text-align: center;
    width: 100%;
    font-size: 130%;
}
nav ul li a:hover {background: rgba(46, 196, 182, 0.8);}
nav ul li.active a {color: #f1f09de7;}
nav ul li.active {background: rgba(46, 196, 182, 0.8);}
nav ul li.active a:hover {color: #a8a764e7;}
.reservation-btn {
  padding: 1rem 0rem 1rem 0rem;
}
  
  
  /*--------MAIN-------*/
  .hero-image {
    max-width: 1400px;
  }
  .icon {
    width: 50%;
  }
  .icon-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
  }
  .card {
    margin: 2rem 0rem 2rem 4rem;
  }
  .res-actioncall {
    position: -webkit-sticky;
    position: sticky;
    bottom:0;
    top:4.5rem;
    padding: 3rem;
    background:rgba(255, 120, 90, 0.7);
    color: white;
    text-align: center;
    border:5px solid rgb(73, 106, 129);
    border-radius: 5px;
    max-width: 40%;
    max-height: 15rem;
  }
  .rental-cards {
    display: flex;
    flex-wrap: row;
    margin: 5rem auto;
  }
  .rental-cards img {
    box-shadow: 5px 5px 5px grey;
  }
  .rental-cards h3 {
    text-align: center;
    font-size: 150%;
  }
  .scooters, .atvs, .jeeps {
    border: 5px solid silver;
    margin: 0rem 1rem 0rem 1rem;
    border-radius: 5px;
  }
  .rental-cards p {
    padding: 0rem .5rem;
    font-size: 120%;
  }
  .weather-summary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr 2fr;
    margin: 5rem 1rem;
    width: 100%;
    max-width: 1400px;
    font-size: 120%;
    background-image: url('https://hopperjoel.github.io/WDD230.github.io/scoots/images/playa-del-carmen-5.jpg');
    border-radius: 5px;
  }
  .summary-title {
    grid-column: 1 / 6;
    grid-row: 1;
    text-align: center;
    font-size: 150%;
    margin: auto;
  }
  .current-weather {
    grid-column: 1 / 3;
    grid-row: 2;
    opacity: 1;
  }
  .five-day-forecast {
    display: contents;
    margin: 1rem 0rem 2rem 1rem;
    text-align: center;
    font-weight: 600;
    
  }
  .forecast-bar {
    grid-column: 3 / 6;
    grid-row: 2;
    display: flex;
    flex-flow: row;
    padding: 0rem;
    margin: auto;
    border-radius: 5px;
    width: 100%;
    max-width: 50rem;
}
  .flex-col {
    border: 2px solid silver;
    margin: 1rem 0rem;
    padding: .5rem;
    min-width: 5rem;
    justify-content: space-evenly;
    background: rgba(46, 196, 182, 0.8);
  }
  .flex-col img {
    min-width: 5rem;
  }
  .flex-col p {
    margin:1rem 2rem;
  }
  .col-head {
    border-bottom: 3px solid;
    font-family: 'Concert One', cursive;
    font-weight: 500;
    font-size: 125%;
  }
  

  /*-------HERO SLIDESHOW------*/
  
  * {box-sizing:border-box}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
    height: 700px;
    align-content: center;
  }
  
  /* Hide the images by default */
  .hero-slide {
    display: none;
  }
  .hero-slide img {
    width: 1200px;
    height: 700px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    display: none;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .hero-caption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .slide-text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  /*-------FOOTER-------*/
  
  .social-media img {
    max-width: 50px;
  }
  