@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=M+PLUS+Rounded+1c&display=swap');

/*-----FONTS-----*/

h1, h2, h3, button {
    font-family: 'Concert One', cursive;
}
p, nav, li, a, label, figcaption {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

/*-------HEADER-------*/

header {
  margin: 1rem 0rem 0rem 0rem;
  padding: 0;
  background: transparent;
  display: flex;
  flex-flow: row;
}

.header-logo {
  width: 50%;
  margin: 1rem 1rem .5rem .5rem;
}
.header-logo img {
  width: 100%;
}
.headings {
  margin: .5rem 0rem;
}

/*--------NAV-------*/

nav {
  background: rgba(46, 196, 182, 0.8);
  width: 100%;
  margin: auto;
  border-radius: 0px 0px 5px 5px;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  /* -webkit-transform: translateZ(0); */
}

nav:hover {background: rgba(46, 196, 182, 0.8);}
nav button {
    margin:.2rem 2%;
    background-color: transparent;
    border:none;
    font-size: 2rem;
}
nav ul {
    list-style-type: none;
    padding:0;
    margin:0;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top:1px solid rgba(0, 0, 0, 0.3);
}

nav ul.hide {display: none;}

nav ul li.active a {
    color: #f1f09de7;
}
nav ul li a:hover {background-color: rgba(0,0,0,0.4);}

.reservation-btn {
  background: rgba(255, 120, 90, 0.8);
  border-radius: 3px;
  width: 20%;
  height: 4rem;
  padding: .5rem;
  float: right;
  text-align: center;
  font-weight: 600;
}
.reservation-btn a {
  text-decoration: none;
  color: white;
}
.reservation-btn:hover {
  background: black;
  color: black;
}

/*--------MAIN-------*/
main {
  max-width: 1400px;
  margin: auto;
}
.hero-banner {
  margin: .1rem auto;
  font-style: italic;
  padding: .5rem;
}
.icon-cards {
  display:block;
  margin:auto;
}
.icon {
  max-width: 40%;
}
.icon img {
  width: 100%;
}
.atv-icon-card, .scooter-icon-card, .jeep-icon-card {
  margin: 1rem auto;
}
.res-actioncall {
  position: -webkit-sticky;
  position: sticky;
  bottom:0;
  top:3rem;
  margin: auto;
  padding: 1rem;
  background:rgba(46, 196, 182, 0.6);
  color: black;
  text-align: center;
  border:5px solid rgb(73, 106, 129);
  border-radius: 5px;
  max-width: 80%;
  font-size: 75%
}
.res-actioncall button{
  font-size: 140%;
  background:rgba(73, 106, 129, 0.8);
  color: white;
  border-radius: 3px;
}

.rental-cards {
  display: block;
  margin: 2rem auto;
  padding: .5rem;
}
.scooters, .atvs, .jeeps {
  margin-bottom: 5rem;
}

.card-image {
  width: 95%;
  margin: auto;
  text-align: center;
  
}
.card-image img {
  width: 100%;
  border-radius: 3px;
}
.current-weather {
  background-image: linear-gradient(rgba(255, 120, 90, 0.9), rgba(255, 120, 90, 0.6), rgba(255, 92, 56, 0.3));
  font-size: 110%;
  margin: 2rem auto;
  padding: .1rem 1rem;
  border: 3px solid rgba(73, 106, 129, 0.8);
  border-radius: 5px;
}
.current-weather h3 {
  text-align: center;
  font-size: 140%;
  border-bottom: 2px solid rgba(73, 106, 129, .8);
}
.five-day-forecast {display: none;}

/*-------HERO SLIDESHOW------*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  max-height: 100rem;
  align-items: center;
  justify-items: center;
}

/* Hide the images by default */
.hero-slide {
  display: none;
}
.hero-slide img {
  max-width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  display: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.hero-caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.slide-text {
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  display: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*-------FOOTER-------*/

footer {
  display: block;
  background: rgb(73, 106, 129);
  padding: 1rem;
  color: white;
  text-align: center;
}
.social-media a{
  padding: 0rem 0.5rem;
  max-width: 70%;
}
.social-media img {
  border-radius: 50%;
}


