/*------MAIN------*/

main {
    clear: both;
    margin:auto;
}
.page-desc {
    width: 50%;
    top: 4rem;
    font-size: 120%;
}
.town {
    display: flex;
    flex-direction: row;
}
.town:nth-child(odd) {
    flex-direction: row-reverse;
}
.name-motto {
    text-align: center;
    margin:auto;
}
.town h2 {
    font-size: 200%;
}
.town-image {
    width: 20rem;
    margin: 1rem 1rem 1rem 1rem;
}

/*------FOOTER----*/

footer a {
    display: contents;
}
footer {
    display: flex;
    flex-direction: row;
}
.map-picture {
    margin: 1rem auto;
    margin-left: 1rem;
}
.footer-info {display: block;}
.contact-info {
    padding-left:0rem;
    margin-right: 2rem;
}
.contact-info button {
    padding: .3rem 0rem 0rem 0rem;
    margin-left: -40px;
    border:none;
    background-color:transparent;
}
.contact-info h2{
    text-align: center;
}
.contact-info li {
    margin-right: 2rem;
}
.social-media {
    margin-right: 5rem;
    padding: .5rem;
    justify-content: center;
}
.social-media img {
    width: 20%;
    padding: .2rem;
}