@import url('https://fonts.googleapis.com/css2?family=Arimo&family=PT+Serif:wght@700&display=swap');

h2, h3{
    font-family:  'PT Serif', serif;
}
ul, p, a{
    font-family: 'Arimo', sans-serif;
}
body {
    max-width: 1000px;
}

header {
    display: grid;
    grid-template-columns: 110px auto;
    background-color: #2ebfa5;
    border-style:groove;
    border-radius: .2em;
    
}
a.main-header {
    grid-column: 1;
    grid-row: 1;
}

h2.main-header {
    grid-column: 2;
    grid-row: 1;
    align-content: center;
}
header {
    grid-column: 1 / 2;
    grid-row: 2;
}
nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    font-size: 22px;
}
nav a:hover {
    color: #c16200;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
main.page-title {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    padding: 10px;
}
main.purpose-paragraph {
    grid-column: 1;
    grid-row: 2;
    padding: 10px;
}
main.domain-name {
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    padding: 10px;
}


