@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Noto+Sans&display=swap');

/*font-family: 'Noto Sans', sans-serif;*/
header, h2, h3 {
    font-family: 'Arvo', serif;
  }
p, ul, li, a{
    font-family: 'Noto Sans', sans-serif;
}
header {
  background-color: #2ebfa5;
  padding: 0px;
}
nav {
  background-color: #fcf5c7;
  font-family: Verdana, sans-serif;
}
h3.five-day-forecast {
  background-color: #fcf5c7;
}

footer {
  background-color: #2ebfa5;
  font-family: 'Noto Sans', sans-serif;
}
body {
  margin: 0px;
  padding: 10px;
}
.five-day-forecast {
  background-color: #f5eb60;
  border: solid;
  padding: .2rem;
}

/*small screen*/
@media only screen and (min-width: 320px) {

  /*-------NAV----*/
  nav button {
      margin:.2rem 2%;
      background-color: transparent;
      border:none;
      font-size: 1.6rem;
  }
  nav ul {
      list-style-type: none;
      padding:0;
      margin:0;
  }
  nav ul li a {
      display: block;
      padding: .8rem 2%;
      text-decoration: none;
      color: #000;
      border-top:1px solid rgba(0, 0, 0, 0.3);
    }

  nav ul.hide {
    display: none;
  }
  nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fcf4c798;
  }
  
  nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
  }
  
  h1.headings {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .subheading {padding: 0px;}

  .header-logo {
    width: 15%;
    height: auto;
    margin: 0px;
  }
  header img {width: 100%;}

  header {
    padding: 0px;
    display: flex;
    align-content: center;
  }
  .page-title {
    margin: 1rem 0rem 1rem 0rem;
    padding: 0rem 0rem 0rem .5rem;
  }

  .forecast-bar {display:none;}

  .article-image {
    max-width: 100%;
    padding: 1rem 0rem 0rem 0rem;
    margin: 1rem .5rem 0rem .5rem;
  }

  .article-image img {max-width: 100%;}

  .bottom-article {
    margin: 0rem 0rem 3rem 0rem;
    border-style: solid;
  }
  footer {
    display: flex;
    flex-direction:column-reverse;
  }
  .map-picture {
    max-width: 100%;
    max-height: 100%;
  }
  .map-picture img {max-width: 100%;}
  footer p {display: none;}
  .contact-info h2 {padding-left: 1rem;}

/*-----FOOTER----*/ 

  footer button {
    border: none;
    background-color: transparent;
  }

  footer ul {list-style: none;}
  footer a {display: none;}
}

/*medium screen*/
@media only screen and (min-width: 481px) {
  
  .page-title {
    margin: 6rem 0rem 1rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
  }
  .hero-image {
    width: 100%;
  }
  .hero-image {
    position: relative;
  }
  .weather-summary {
    position: absolute;
    top: 20rem;
    left: 4rem;
    width: 30%;
    padding: 0rem .4rem;
    background-color: rgba(255, 255, 255, 0.794);
    color: black;
    border: 5px solid black;
    border-radius: 5px;
    font-size: 90%;
    text-align: center;
  }
  
  .forecast-box {
    margin:10px 0px 40px 0px;
  }
  .weather-bar {
    margin:0px 20px 0px 20px;
  }
  .bottom-article {
    min-height: 300px;
  }
  .article-image {
    max-width: 40%;
    max-height: 50%;
    float: right;
  }
  .article-image img {
    max-width: 100%;
    max-height: 60%;
  }
  footer a {
    display: contents;
  }
  footer {
    display: flex;
    flex-direction: row;
  }
  .map-picture {
    margin-left: .3rem;
  }
  .footer-info {display: block;}
  .contact-info {
    padding-left:0rem;
    margin-left:-20px;
  }
  .contact-info li {
    margin-left: -25px;
  }
}
 
/*large screen*/
@media only screen and (min-width: 1025px) {

  nav button {
    display:none;
  }
  nav ul.hide {
    display: block;
  }
  nav ul {
    margin-left: 2%;
    list-style: none;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    border: none;
    border-right: 1px solid   rgba(0,0,0,0.3);
    padding: .6rem 1rem;
  }
  main {
    clear: both;
    margin: auto;
  } 
  .page-title {
    margin: 4rem 0rem 2rem 0rem;
  }
  .hero-image {
    width: 1200px;
  }
 
  .weather-summary {
    position: absolute;
    top: 20rem;
    left: 5rem;
    max-width: 40%;
    padding: 0rem .4rem;
    font-size: 100%;
  }
  .forecast-bar {
    display: flex;
    flex-flow: row;
  }
  
  .flex-col {flex: 1 1 auto;}

  .flex-col, .column-col, .grid-col {
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    text-align: center; }
  
  .col-head {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #333;
    text-align: center;
  }
  .flex, .column, .grid {
    border-right: 1px solid #333;
  }
  .flex-col {
    min-width: 5rem;
    justify-content: space-evenly;
  }
  .data {
    display: block;
    padding: 0 5px 5px;
    font-size: 0.8rem;
    text-align: center;
  }
  
  .col-head,th {
    font-weight: 700;
    font-size: 1rem;
    background-color: black;
    color: white;
  }
  .flex-col img {
    width: 6rem;
    margin:10px 40px 10px 40px;
    padding-left: 1rem;
    justify-content: left;
  }
  .five-day-forecast {
    margin:10px 0px 40px 0px;
  }
  .article-image {
    max-width: 50%;
    float: left;
  }
  .article-image img {
    max-width: 100%;
  }
  .location-map {
    width: 50%;
    height: auto;
  }
  footer {
    display: grid;
    grid-auto-flow: column;
    padding: 1rem 4rem 1rem 6rem;
 
  }
  .contact-info {
    display: block;
    padding: 1rem 0rem 0rem 3rem;
  }
  .contact-info button {
    padding: .3rem 0rem 0rem 0rem;
    margin-left: -40px;
    border:none;
    background-color:transparent;
  }
  .contact-info img {
    width: 2rem;
    padding: .5rem;    
  }
  .map-picture {
    max-width: 100%;
    max-height: 70%;
  }
  .map-picture img {
    max-width: 100%;
  }
  .footer-bar {
    background-color: black;
    height:40px;
    margin:0px;
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
}
  


