@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

#s1 {
  grid-area:section-1;
}
#s2 {
  grid-area:section-2;
}
#s3 {
  grid-area:section-3;
}
#image-link-1 {
  grid-area:image-link-1;
}
#image-link-2 {
  grid-area:image-link-2;
}
#image-link-3 {
  grid-area:image-link-3;
}
.main-grid {
  display: grid;
  grid-template-areas: "rule-1 rule-2 rule-3";
}
.section {
  display: grid;
  grid-template-areas: 
    'image-link-1'
    'image-link-2'
    'image-link-3';
}

@media screen and (min-width: 300px ) {
  .main-grid {
    grid-template-areas:
      'section-1'
      'section-2'
      'section-3';
  }
}
@media screen and (min-width: 900px ) {
  .main-grid {
    grid-template-areas:
      'section-1'
      'section-2'
      'section-3'
  }
  .section {
    grid-template-areas:
      'rule-title'
      'rule-example rule-paragraph'
  }
}
@media screen and (min-width: 1200px ) {
  .main-grid {
    grid-template-areas:
      'section-1 section-2 section-3'
  }
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
h3 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
p {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
}

