@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

#s1 {
  grid-area: section-1;
}
#s2 {
  grid-area: section-2;
}
#s3 {
  grid-area: section-3;
}
.main-grid {
  display: grid;
  grid-gap: 10px;
  max-width: 1200px;
}

@media screen and (max-width: 300px) {
  .main-grid {
    grid-template-areas:
      "section-1"
      "section-2"
      "section-3";
  }
}
@media screen and (max-width: 900px) {
  .main-grid {
    grid-template-areas:
      "section-1 section-2"
      "section-3 section-3"
  }
}
@media screen and (max-width: 1200px) {
  .main-grid {
    grid-template-areas:
      "section-1 section-2 section-3"
      "section-1 section-2 section-3"
  }
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
h3 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 25px;
p {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
}
.section {
  align-self: center;
  }
