/*-------IMPORT----*/

/*-----GLOBAL----*/

/*------NAV-----*/

nav button {display:none;}
nav ul.hide {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav ul {
    margin: auto;
    list-style: none;
}
nav ul li a {
    border: none;
    border-right: 1px solid   rgba(0,0,0,0.3);
} 
nav ul li {
    padding:0%;
    margin: 0%;
    text-align: center;
    width: 100%;
    font-size: 130%;
}
/*-------HEADER------*/

header {
    font-size: 120%;
}
/*-------MAIN-----*/

main {
    clear: both;
    margin: auto;
} 
.page-title {
    margin: 4rem 0rem 2rem 0rem;
    font-size: 240%;
}
/*------FORM------*/

/*-------FOOTER----*/

.subfooter {
    display: grid;
    grid-auto-flow: column;
    padding: .5rem 2rem 1rem 2rem;
    font-size: 125%;
}
.subfooter p button {
    margin-left: .2rem;
}
.map-picture {
    width: 90%;
    margin: auto;
}

.contact-info {
    display: block;
    padding: 1rem 0rem 0rem 2rem;
}

.contact-info img {
    width: 25%;
    padding: .5rem;    
}
.social-media a img {
    width: 12%
  }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}