/*------NAV-----*/

nav button {display:none;}
nav ul.hide {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav ul {
    margin: auto;
    list-style: none;
}
nav ul li a {
    border: none;
    border-right: 1px solid   rgba(0,0,0,0.3);
} 
nav ul li {
    padding:0%;
    margin: 0%;
    text-align: center;
    width: 100%;
    font-size: 130%;
}

/*-------HEADER------*/

header {
    font-size: 120%;
}

/*-------MAIN-----*/

.page-desc {
  width: 30%;
  font-size: 150%;
}

main {
  clear: both;
  margin: auto;
} 
.page-title {
  margin: 4rem 0rem 2rem 0rem;
  font-size: 240%;
}

.hero-image {
    width: 100%;
    margin: 2rem 0rem 0rem 0rem;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 4rem 0rem 4rem 0rem;
}
.cards img {
  margin: auto;
  justify-self: center;
}
.town {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0rem 1rem 0rem 1rem;
}

/*---------FOOTER--------*/

.subfooter {
  display: grid;
  grid-template-columns: 1fr .8fr;
  grid-template-rows: 1fr .3fr;
  padding: .5rem 2rem 1rem 2rem;
  font-size: 125%;
}
.subfooter p button {
  margin-left: .2rem;
}
.map-picture {
  width: 100%;
  margin: auto;
  grid-row: 1 / 3;
}

.contact-info {
  display: block;
  padding: 1rem 0rem 0rem 2rem;
}

.contact-info img {
  width: 15%;
  padding: .5rem;    
}
.wireframes {
  margin: 2rem 1rem 1rem 2rem;
  display: flex;
  flex-direction: column;
}
.wireframes a {
  padding: .5rem;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  display: block;
  text-align: center;
}